*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  font-size: 14px;
}

ul{
  padding: 0;
  margin: 0;
}

ul li{
  list-style: none;
}

.wrapper{
  width: 100%;
  min-height: 100%;
}

.container{
  max-width: 940px;
  margin: 0 auto;
}

.third-title{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.timeline__steps {
  padding: 30px 0 0;
  height: 90px;

  &:first-of-type{
  margin-left: 30px;
}
}

.timeline__step {
  position: relative;
  float: left;
}

.timeline__step--first:before {
  content: 'Step first';
  position: absolute;
  top: -20px;
  left: -22px;
  font-size: 15px;
  color: #555555;
  white-space: nowrap;
}

.timeline__step--second:before {
  content: 'Step middle';
  position: absolute;
  top: -20px;
  right: -30px;
  font-size: 15px;
  color: #555555;
  white-space: nowrap;
}

.timeline__step--third:before {
  content: 'Step last';
  position: absolute;
  top: -20px;
  right: -18px;
  font-size: 15px;
  color: #555555;
  white-space: nowrap;
}

.timeline__step-circle{
  float: right;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #dfdfdf;
  cursor: pointer;
}

.timeline__step-line {
  float: left;
  width: 217px;
  height: 2px;
  background: #dfdfdf;
  margin: 5px 5px 0;
}

//

.diagram__item {
  float: left;
  width: 49%;
  padding: 0 30px 40px 0;
  position: relative;
  cursor: pointer;
  margin: 1px 1px;

  &:nth-child(n+3){
    padding-top: 50px;
  }

  &:nth-child(even){
    padding-left: 50px;
  }
}

.link{
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  transition: all .3s;
}

.link--first{
  background-color: green;
  bottom: 0;
  right: 0;
  border-top-left-radius: 100%;
}

.link--second{
  background-color: red;
  bottom: 0;
  left: 0;
  border-top-right-radius: 100%;
}

.link--third{
  background-color: green;
  top: 0;
  right: 0;
  border-bottom-left-radius: 100%;
}

.link--fourth{
  background-color: orange;
  top: 0;
  left: 0;
  border-bottom-right-radius: 100%;
}

.link:hover{
  width: 60px;
  height: 60px;
}

.description__text{
  font-size: 12px;
}
