*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  font-size: 14px;
}

ul{
  padding: 0;
  margin: 0;
}

ul li{
  list-style: none;
}

section{
  overflow: hidden;
}

.wrapper{
  width: 100%;
  min-height: 100%;
}

.container{
  max-width: 940px;
  margin: 0 auto;
}

.timeline__steps {
  padding: 30px 0 0;
  height: 90px;

  &:first-of-type{
  margin-left: 30px;
}
}

.timeline__step {
  position: relative;
  float: left;
}

.timeline__step--first:before {
  content: 'Step first';
  position: absolute;
  top: 25px;
  left: -22px;
  font-size: 15px;
  color: #555555;
  white-space: nowrap;
}

.timeline__step--second:before {
  content: 'Step middle';
  position: absolute;
  top: 25px;
  right: -30px;
  font-size: 15px;
  color: #555555;
  white-space: nowrap;
}

.timeline__step--third:before {
  content: 'Step last';
  position: absolute;
  top: 25px;
  right: -18px;
  font-size: 15px;
  color: #555555;
  white-space: nowrap;
}

.timeline__step-circle{
  float: right;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #808080;
  background: #dfdfdf;
}

.timeline__step-line {
  float: left;
  width: 217px;
  height: 2px;
  background: #dfdfdf;
  margin: 5px 5px 0;
}
